<?xml version="1.0" encoding="UTF-8"?>
<config>
    <!-- Hledané fráze, mezery nahradit "+" -->
    <searches>
        <search>
            <phrase>playstation+5</phrase>
            <minPrice>4799</minPrice>
            <maxPrice>6001</maxPrice>
            <blockedWords>mechanika</blockedWords>
        </search>
    </searches>

    <!-- Databázové připojení -->
    <dbUrl>jdbc:mysql://localhost:3306/bazos</dbUrl>
    <dbUser>root</dbUser>
    <dbPassword></dbPassword>

    <!-- Časová mezera mezi kontrolami -->
    <waitTimeMinutes>10</waitTimeMinutes>

    <!-- Telegram notifikace -->
    <telegramNotifications>true</telegramNotifications>
    <telegramToken></telegramToken>
    <telegramChatId></telegramChatId>
</config>
